{% extends "dcodex/base_sidebars.html" %}
{% load static %}
{% load dcodex_tags %}
{% load dcodex_lectionary_tags %}
{% block title %}Affiliation Lections{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'dcodex/css/comparison.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
.lection {
    cursor: pointer;
}
</style>
{% endblock %}

{% block middle %}

<h2>{{affiliation}}</h2>
<h2>{{system}}</h2>
<ul class="list-group">
{% for membership in system.lections_in_system_min_verses %}
    <li class="list-group-item lection {{affiliation|affiliation_active_for:membership.lection}}" data-lection="{{ membership.lection.id}}">{{membership}}</li>
{% endfor %}
</ul>

{% endblock %}

{% block right_sidebar %}
{% endblock %}



{% block left_sidebar %}
{% endblock %}


{% block extra %}
{% endblock %}


{% block javascript %}
<script src="{% static 'dcodex/js/jquery.scrollTo.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<script>

$( document ).ready(function() {
    console.log( "document loaded" );
    $(".lection").click(function(e) {
        var lection = $(this);
        $.ajax({
            type: "POST",
            url: "{% url 'dcodex-lectionary-toggle-affiliation-lection' %}",
            data: {
                'affiliation_id': {{ affiliation.id }}, 
                'lection_id': lection.data("lection"),
                },
            success: function(msg){
                if (msg == "OK") {
                    //location.reload(); // Easiest for now
                    if ( lection.hasClass( "active" ) ) {
                        lection.removeClass( "active" );
                    }
                    else {
                        lection.addClass( "active" );
                    }
                }
                else {
                    alert("There was a problem toggling the lection.");
                }
            }
        });    
        return false;    
	});
});

</script>
{% endblock %}